# Files

GooD_Autobackuper
bandit_report.html
token.json
credentials.json
rules.csv
application.log
plan.md
*.zip
*.spec
*.exe


# Local Environment and Secrets
.env.local
.env.*.local

# Folders

.git/

# PyCharm

.idea/
!.idea/runConfigurations/
!.idea/vcs.xml
*.iml
*.iws

# Python Specific

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# Testing and Coverage

.htmlcov/
.tox/
.nosexy/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.pre-commit-config.yml
.flake8
