# star files
*.zip
*.spec
*.exe

# dot files
.pre-commit-config.yml
.flake8

# files
GooD_Autobackuper
bandit_report.html
token.json
credentials.json
rules.csv
application.log

# dot folders
.vscode/
.git/
.mypy_cache/

# folders
__pycache__/
venv/
test/
data/
dist/
build/
test/
backup/
docs/
doc/
log/
